@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
:root {
  --color-primary: #60148f;
  --color-secondary: #ffffff;
  --color-tertiary: #221257;
  --font-x-large: 2.25rem;
  --font-large: 2rem;
  --font-x-medium: 1.5rem;
  --font-medium: 1.25rem;
  --font-small: 1.125rem;
  --font-x-small: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Montserrat", "sans-serif";
}

h1 {
  margin: 0 0 0.8rem 0;
  line-height: 1.3;
  font-size: var(--font-x-large);
  text-transform: uppercase;
}

h2 {
  font-size: var(--font-large);
  line-height: 1.3;
  text-transform: uppercase;
  margin: 0 0 0.8rem 0;
}

h3 {
  margin: 0 0 0.8rem 0;
  line-height: 1.3;
  font-size: var(--font-x-medium);
  text-transform: uppercase;
}

h4 {
  margin: 0 0 0.8rem 0;
  line-height: 1.3;
  font-size: var(--font-small);
}

p {
  margin: 0;
  line-height: 1.3;
  font-size: var(--font-x-small);
}

header {
  display: flex;
  background-color: var(--color-secondary);
  height: 80px;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem;
  transition: box-shadow 250ms ease-in-out;
  z-index: 10;
}
header .logo img:last-child {
  display: none;
}
header .logo img {
  width: 130px;
}
header nav {
  position: fixed;
  background: #020024;
  background: linear-gradient(135deg, #020024 0%, #8b34bd 100%, #00d4ff 100%);
  right: 0;
  bottom: 0;
  top: 0;
  width: 60%;
  display: none;
}
header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
header nav ul li {
  padding: 2rem;
  text-align: right;
}
header nav ul li:last-child a {
  background-color: var(--color-secondary);
  padding: 0.2rem;
  border-radius: 10px;
  color: var(--color-primary);
}
header nav ul a {
  color: var(--color-secondary);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: var(--font-medium);
  text-transform: uppercase;
}
header nav .close-btn {
  padding-right: 1rem;
  padding-top: 1rem;
  cursor: pointer;
}
header .burger {
  width: 35px;
  cursor: pointer;
}
header .blur-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
  display: none;
  z-index: -1;
}

.hero {
  min-height: 100vh;
  position: relative;
  background-image: url("../pictures/background-1.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero__text {
  padding: 1.1rem;
  text-align: center;
  color: var(--color-primary);
}
.hero__quote {
  font-weight: 400;
}
.hero__cta {
  color: var(--color-secondary);
  background-color: var(--color-primary);
  padding: 0.3rem 1rem;
  display: inline-block;
  text-decoration: none;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--font-x-small);
}
.hero img {
  position: absolute;
}
.hero img:nth-child(2) {
  width: 100px;
  right: 0;
  bottom: 140px;
}
.hero img:nth-child(3) {
  width: 100px;
  left: 0;
  bottom: 110px;
}

.about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../pictures/background-2.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.about__text {
  color: var(--color-secondary);
  padding: 1.1rem;
  text-align: center;
}
.about img:nth-child(2) {
  width: 250px;
}

.services {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--color-tertiary);
  margin-top: -100px;
}
.services__cards {
  padding: 1.1rem;
  margin-top: 3rem;
}
.services__card {
  margin-bottom: 8rem;
  position: relative;
}
.services__card img:last-child {
  position: absolute;
}
.services__card .css-logo {
  top: 10%;
  left: 10%;
}
.services__card .js-logo {
  top: 10%;
  right: 10%;
}
.services__card .node-logo {
  top: 20%;
  right: 10%;
}
.services__card .react-logo {
  top: 5%;
  left: 5%;
}
.services__card .html-logo {
  top: 10%;
  right: 0;
}
.services__card-title {
  color: var(--color-tertiary);
  font-weight: 600;
}
.services img:first-child {
  margin-bottom: 2rem;
}

.pricing {
  min-height: 100vh;
  background-image: url("../pictures/background-3.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
.pricing__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pricing__card {
  margin: 2rem;
}
.pricing__card ul {
  margin: 0;
  list-style-type: none;
}
.pricing__card-title {
  background: linear-gradient(90deg, #8b34bd 0%, #221257 100%);
  color: var(--color-secondary);
  padding: 0.5rem 0.5rem;
  font-weight: 600;
  margin: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  text-transform: initial;
}
.pricing__card-features {
  box-shadow: 1px 17px 21px -6px rgba(0, 0, 0, 0.17);
  padding: 1rem 3rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--color-secondary);
}
.pricing__card-feature {
  color: var(--color-primary);
  padding: 1rem 0;
  text-align: center;
  position: relative;
  font-size: var(--font-medium);
}
.pricing__card-feature img {
  position: absolute;
  left: -25px;
}
.pricing__card--blurred-feature {
  opacity: 0.4;
}
.pricing__card-info {
  color: var(--color-primary);
  text-align: center;
  padding: 1rem 0;
}
.pricing__card-price {
  font-size: var(--font-large);
  color: var(--color-tertiary);
  font-weight: 600;
  padding: 1rem 0;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
