@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

:root {
    --color-primary: #60148F;
    --color-secondary: #FFFFFF;
    --color-tertiary: #221257;
    --font-x-large: 4.375rem; // 70
    --font-large: 2rem; // 32
    --font-x-medium: 1.5rem; // 24
    --font-medium: 1.25rem; // 20
    --font-small: 1.125rem; // 18
    --font-x-small: 1rem; // 16
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
